@model List<BudgetWepApp.Models.Goal>
@{
    ViewData["Title"] = "Goals";
}
<h1>@ViewData["Title"]</h1>
<h2>List of My Goals</h2>
@if (Model == null || !Model.Any())
{
    <p>No goals found.</p>
} else {
    <div class="goalCard">
        @foreach (var goal in Model)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <a asp-controller="Home" asp-action="GoalDetails" asp-route-goalId="@goal.GoalID">
                        <h5 class="card-title @(goal.IsCompleted ? "text-success" : "")">@goal.Name</h5>
                    </a>
                    <p class="card-text">@goal.Description</p>
                    @if(goal.IsCompleted)
                    {
                        <p class="text-success fw-bold">Goal Completed</p>
                    }
                </div>
            </div>
            }
        </div>
        
}
<a asp-controller="Home" asp-action="CreateGoal" class="btn btn-primary mt-3">Add New Goal</a>
